{% extends 'layouts/main.html' %}

{% block content %}

    <h1 class="text-center pt-5">Bienvenido a la Asociación Unión </h1>
    <h4 class="text-center">El lugar donde tu salud es la prioridad</h4>
    <p class="text-center pt-4">Somos una asociación de salud dedicada a promover el bienestar y la calidad de vida de nuestra comunidad. En nuestro sitio web encontrarás información sobre nuestros programas y servicios, noticias y recursos útiles para ayudarte a mantener una vida saludable. ¡Gracias por visitarnos y esperamos que encuentres lo que estás buscando!</p>

{% endblock %}


