{% extends 'layouts/main.html' %}

{% block content %}

    <h1 class="text-center pb-2"> Mantener Ocupaciones </h1>
    <div class="row pb-4 text-center">
        <div class="col-12">
            <a href="/ocupacion/">Ingresar nueva Ocupación</a> 
        </div>
    </div>
    
    <div class="row text-center">
        {% for p in ocupaciones %}
            <div class="col-4 py-2 border border-danger rounded">
                <h2>{{p.nombre}}</h2>
                <p>{{p.descripcion}}</p>
                {% if request.user.is_authenticated and request.user == p.user %}
                <a href="/ocupacion/{{p.id}}">Editar</a> 
                {% endif %}
            </div>
        {% endfor %}
    </div>
    

{% endblock %}